@import "public";

 .cart_list{
     line-height: 17px;
    border-top: 1px solid #707070;
    width: 100%;
    .cart_cell{
        width: 100%;
        padding-top: 10px;
        height: 100px;
        display: flex;  
        flex-flow: row nowrap; 
        border-bottom: 1px solid #707070;
        dt{ 
            width: 100px; 
            line-height: 100px;
            text-align: center;
            img{
                width: 90px;
                height: 90px;
            }
        }  
        dd{
            font-size: 13px;
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            div{
                flex: 1;
                width: 95%;
            } 
            div:nth-of-type(1){
                span{
                    width: 90%;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
                display: flex;
                justify-content: space-between;
                a{
                    font-weight: bold;
                }
                
            }
            div:nth-last-of-type(1){
                line-height: 25px;
                span{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    margin:0 10px;
                    
                    box-shadow: 0 0 0 0.6px black;
                }
                a{
                    padding:5px 7px;
                    background: black;
                    color: white;
                   
                }
            }
        }
    }
}

footer .f_item:nth-of-type(3){
    border-top: #e43669 3px solid !important;
}


