body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "microsoft yahei";
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

a{
    text-decoration: none;
}

-webkit-scrollbar{
    display:none;
}

footer{
    height: 50px;
    width:100%;
    background-color: #484850;
    position: fixed;
    bottom: 0;
    display: flex;
    .cftItem{
        width: 25%;
        height: 100%;
        display: inline-flex;
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: #fff;
    }
    .cftItem span:nth-of-type(1){
        font-size: 22px;
        font-weight: 400;
    }
    .cftItem span:nth-of-type(2){
        font-size: 12px;
        font-weight: 400;
    }
}